<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Filters</title>
</head>
<body>
<h2>Working with Jinja2 filters!</h2>
<ol>
    {% for movie, duration in table|dictsort(False, 'value') %}
        <li>{{ movie|title }}: {{ duration|round(1) }}</li><br>
    {% endfor %}
</ol>
<h4>More built in filters:</h4>
<ol>
    <li>Set default value: {{ name|default('Name is not defined', True) }}</li><br>
    <li>Make a list: {{ film|list }}</li><br>
    <li>Make replace: {{ film|replace("Christmas", "Wedding")|upper }}</li><br>
    <li>First item from dict: {{ table|first }}</li><br>
    <li>The dict consists of {{ table|length }} elements</li><br>
</ol>


</body>
