{% extends 'layout.html' %}
{% block content %}
    <h3 class="form">Register here</h3>
    <div class="container form">
        <hr>
        <br>
        {{ form.hidden_tag() }}  {# hidden tag is built in n quick form so it works without it. #}
        {{ wtf.quick_form(form) }}
{#        <form method="post">#}
{#            {{ form.hidden_tag() }}#}
{#            <div class="form-group">#}
{#                {{ form.name.label }}#}
{#                {{ form.name }}#}
{#            </div>#}
{#            <div class="form-group">#}
{#                {{ form.email.label }}#}
{#                {{ form.email }}#}
{#            </div>#}
{#            <div class="form-group">#}
{#                {{ form.password.label }}#}
{#                {{ form.password }}#}
{#            </div>#}
{#            <div class="form-group">#}
{#                {{ form.confirm.label }}#}
{#                {{ form.confirm }}#}
{#            </div>#}
{#            <br>#}
{#            <div class="form-group">#}
{#                {{ form.submit(class='btn btn-primary') }}#}
{#            </div>#}
{#        </form>#}
{% endblock content %}